language:
  - swift
osx_image: xcode10.1
before_install:
- |
  brew update
  gem update fastlane
podfile: source/Podfile
script:
- |
  fastlane run clean_build_artifacts
  fastlane clean_xcode
  fastlane tests
